.playlist-songs {
	list-style-type: none;
	padding: 0;
	margin-bottom: 3%;
}
.like-form {
	display: inline-block;
}
.myNav {
	float: right;
}

.upload-btn {
	text-align: center;
}

.upload-btn button {
	width: 100%;
}

.btn-user {
	margin-left: 2%;
}

.like-button {
	margin-right: 2%;
}

footer {
	margin-top: 10%;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.notyMsg {
	width: 100%;
	padding: 4%;
	color: white;
	border-radius: 2%;
	margin-top: 2.5%;
	margin-bottom: 3.5%;
	text-align: center;
	font-size: 1.3em;
	max-height: 
}

.notyGreen {
	background-color: #2ECC71;
}

.notyRed {
	background-color: #D91E18;
}

.upvotes {
	border-right: 3px solid black;
	padding-right: 1.5%;
	font-size: 1.3em;
	margin-right: 2.5%;
	vertical-align: middle;
}

.soundlinkinput {
	text-align: center;
	margin-bottom: 5%;
}

.checkbox {
	height: 40px;
}

.create-genre {
	width: 60%;
	margin-top: 5%;
}

.genre-inp {
	width: 100%;
	margin-bottom: 6%;
}

.genre-edit {
	height: 35px;
	width: 70%;
}

.line {
	border-right: 2px solid black;
	padding-right: 0;
}

#comment-section {
	margin-top: 11%;
}

.media-object {
	max-height: 40px;
}